@{
    ViewData["Title"] = "Home Page";
}

<div class="main-application">
    <h1>Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

		<div class="main-header">
			<div class="layers">
				<div class="layer__header">
					<div class="layer__caption">Welcome to Parralax</div>
					<div class="layer__title">My Forest</div>
				</div>
                <div class="layer layers__base" style="background-image: url('img/layer-base.png');"></div>
                <div class="layer layers__title" style="background-image: url('img/layer-middle.png');"></div>
                <div class="layer layers__front" style="background-image: url('img/layer-front.png');"></div>
			</div>
		</div>

    <article class=" main-article" style="background-image: url('img/dungeon.jpg');">
			<div class="main-article__content">
				<h2 class="main-arcticle__header">To be continued</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nesciunt quidem inventore quaerat quia sint laudantium, 
					dignissimos itaque aspernatur quibusdam soluta eligendi ad magni cumque. Necessitatibus, perspiciatis. Est accusantium tenetur molestiae iusto?</p>
			</div>
		</article>

    <div class="row">   
       <div class="col-sm-4">
           <img >
       </div>
       <div class="col-sm-4">

       </div>
       <div class="col-sm-4">

       </div>
    </div>
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
